/* Task Section Heading Text (Pending, Active, Complete) */
.task-section {
  text-align: center;
  border-bottom: 1px solid #ced4da;
}

.createTaskContainer .form-row div input,
.createTaskContainer .form-row div select {
  margin-bottom: 0.75rem;
}

.tasks-container .task-cols {
  margin-top: 2rem;
}

#taskStatusSelect {
  cursor: pointer;
}

/* Tasks Styles */
.tasks-container .card-header .row {
  margin-left: 10px;
}

.tasks-container .card-header {
  margin: 0 0.5rem 0 1.5rem;
  padding: 0.2rem;
  background: 0;
  border: 0;
}

.tasks-container .card-body {
  color: #d4d4d4;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.hidden {
  display: none;
}

.tasks-container .task-header-text {
  padding-left: 0;
  margin: 0 0;
  padding-bottom: 0.25rem;
  font-weight: 600;
}

.tasks-container .task-header-icons {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: right;
}

.tasks-container .task-icon {
  margin: 0 0.35rem;
  padding: 0;
  color: #888;
  transition: 0.2s;
}

.tasks-container .task-icon:hover {
  color: #fff;
  cursor: pointer;
}

.tasks-container .card {
  margin-bottom: 0.5rem;
}

.tasks-container .card-text {
  margin-left: 5px;
}

.tasks-pending .fa-arrow-left, .tasks-complete .fa-arrow-right {
  display: none;
}
